:root {
  --white-color: #ffffff;
  --black-color: #212121;
  --brand-color: #ffffff;
  --grey-color: #757575;
  --object-color: #2196f3;
  --dark-bg: #2f303a;
  --main-font: "Roboto", sans-serif;
}
html {
  box-sizing: border-box;
}
body {
  background: var(--brand-color);
  color: var(--black-color);
  font-family: var(--main-font);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: var(--black-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
nav a.menu__link--active {
  color: var(--object-color);
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
button {
  background-image: none;
}
.button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: var(--object-color);
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-property: color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  transition-duration: 250ms;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.title-invisible {
  display: none;
}
.works__title,
.team__title,
.client__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
/* .title-section {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
} */
.link:hover,
.link:focus {
  color: var(--object-color);
}

header {
  background: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.logo {
  display: inline-block;
}

.header__logo {
  margin-right: 93px;
  padding: 24px 0%;
}

.logo--font {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.logo--text {
  color: var(--object-color);
}

.header__nav {
  margin-right: auto;
}
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header .container {
  display: flex;
  justify-content: flex-end;
}

.menu__link {
  display: flex;
  position: relative;
  align-items: center;
  padding: 32px 0px;
}

.header__menu--inline {
  display: inline-flex;
}

.menu__item--grey-color {
  color: var(--grey-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}
.nav {
  display: flex;
  align-items: center;
}

.header-icon--margin-right {
  margin-right: 10px;
}
.header-icon__mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.header-icon__tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.menu__underline::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--object-color);
}

/* hero  */
.hero__darkbg {
  background: var(--dark-bg);
  max-width: 1600px;
  margin: auto;
}
.hero__imgbg {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/mainbackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  max-width: 1600px;
}
.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0px;
}
.hero__title {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  color: var(--white-color);
  text-align: center;
}
.hero__button {
  margin-top: 30px;
  padding: 0;
}
/*features*/
.features-cards {
  display: flex;
  width: 270px;
}
.features-cards--mardginRight:not(:last-child) {
  margin-right: 30px;
}
.features-cards__iconbg {
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  align-items: center;
  margin-bottom: 30px;
}
.features-cards__iconsvg {
  height: 70px;
  width: auto;
}
.features-cards__content {
  display: block;
}
.features-cards__contenttitle {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}

.features-cards__contenttext {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
/*works*/
.works-section {
  padding-bottom: 94px;
}
.works-icons-item {
  display: flex;
  align-items: center;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
}
.works-list {
  display: inline-flex;
}

.works-list__item:not(:last-child) {
  margin-right: 30px;
}

.works-list__img {
  position: relative;
}

.works-list__text {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--brand-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}
.section--team {
  background: #f5f4fa;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
}
.team__card-set {
  margin-left: -30px;
  margin-top: -50px;
}
.team__item {
  margin-left: 30px;
  margin-top: 50px;
  background: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team__members {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--grey-color);
}
.team__item--padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.team__name--profession {
  margin-top: 10px;
  margin-bottom: 16px;
}

/* portfolio*/

.menu-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.menu-button--marginRight:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  height: 38px;
  cursor: pointer;
  background: rgba(245, 244, 250, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.06em;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  box-shadow: none;
  transition-duration: 250ms;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  background: var(--object-color);
  color: var(--white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button--alwaysBlue {
  /* кнопка синяя всегда*/
  color: var(--white-color);
  background: var(--object-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-cards {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  padding-top: 0 px;
  background: var(--brand-color);
  width: 368px;
}

.portfolio-cards--link {
  position: relative;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards--link:hover,
.portfolio-cards--link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards__item {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: -1px;
}
.portfolio-cards__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition-duration: 250ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards--link:hover .portfolio-cards__overlay,
.portfolio-cards--link:focus .portfolio-cards__overlay {
  opacity: 1;
  transform: translateY(0%);
}
.portfolio-cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-cards__project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.portfolio-cards__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.socialicons {
  display: inline-flex;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.socialicons__svg {
  width: 20px;
  height: 20px;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socialicons__svg--color {
  fill: rgba(175, 177, 184, 1);
}
.social-icons__link:hover .socialicons__svg,
.social-icons__link:focus .socialicons__svg {
  fill: var(--brand-color);
}
.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--object-color);
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialicons--item:not(:last-child) {
  margin-right: 10px;
}

/* .client__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
} */

.client__icons {
  display: block;
}

.client__item {
  width: 170px;
  height: 92px;
}
.client__icons :not(:last-child) {
  margin-right: 30px;
}
.client__link {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: rgba(175, 177, 184, 1);
  transition-duration: 250ms;
  transition-property: fill, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
}

.client__link:hover,
.client__link:focus {
  fill: var(--object-color);
  border-color: var(--object-color);
}

footer {
  padding: 60px 0px;
}

.footer__darkbg {
  background: var(--dark-bg);
}
.footer__flex {
  display: flex;
  align-items: baseline;
  margin-right: auto;
}

.logo__footer {
  margin-bottom: 20px;
  color: var(--white-color);
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address__item {
  margin-bottom: 9px;
}
.footer-address__item--colorwhite {
  color: var(--white-color);
}
.footer-address__item--colorgrey {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social {
  margin-left: 70px;
}
.footer-social__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 20px;
}
.socialicons--brand-color {
  fill: var(--brand-color);
}
.social-icons__link--colorgrey {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-mailing {
  width: 570px;
  margin-left: auto;
}

.footer-mailing__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 20px;
}

.footer-mailing__input {
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-bg);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mailing__input:focus {
  border: 1px solid var(--object-color);
  color: var(--white-color);
}

.footer-button--marginleft {
  margin-left: 8px;
}
.footer-button__send {
  display: inline-flex;
  align-items: center;
}
.footer-button__text {
  margin-right: 10px;
}
.footer-button__icon {
  width: 24px;
  height: 24px;
  fill: var(--brand-color);
}
/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 26, 36, 0.6);
  overflow: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__btn-close {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-property: background-image;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close--cross {
  width: 11px;
  height: 11px;
  background-image: url(../img/icons/crossX.svg);
  transition-duration: 250ms;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover,
.modal__btn-close:focus {
  background-image: url(../img/icons/cross.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.modal__btn-close:hover .modal__btn-close--cross,
.modal__btn-close:focus .modal__btn-close--cross {
  opacity: 0;
  visibility: hidden;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form--field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: rgba(33, 33, 33, 1);
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form--label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}
.modal-form__input {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--object-color);
}

.modal-form__input:focus {
  outline: none;
  border: 1px solid var(--object-color);
}

.modal-form__comment {
  cursor: pointer;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  resize: none;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment:focus {
  outline: none;
  border: 1px solid var(--object-color);
  color: #212121;
}
.modal-form__comment--color:focus::-webkit-input-placeholder {
  color: var(--object-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment--color:focus::-moz-placeholder {
  color: var(--object-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__button {
  display: block;

  cursor: pointer;
  width: 200px;
  height: 50px;

  margin-right: auto;
  margin-left: auto;
  background: var(--object-color);
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-form__button:hover,
.modal-form__button:focus {
  background: #188ce8;
}

.modal-form__accept {
  position: relative;
  margin-bottom: 30px;
}

.modal-form__accept--check {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  padding-left: 37px;
  cursor: pointer;
}

.modal-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-form__checkboxicon {
  position: absolute;
  width: 16px;
  height: 15px;
  background-color: var(--brand-color);
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 4px;
  transform: translateX(-23px);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__checkbox:checked + .modal-form__checkboxicon {
  border-color: transparent;
  background-size: contain;
  background-origin: border-box;
  background-image: url(../img/icons/icon-check.svg);
}

.modal-form__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--object-color);
}
