.features-cards {
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
    width: 350px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    width: 270px;
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: -15px;
  }
}

// .features-cards--mardginRight:not(:last-child) {
//   @media screen and (min-width: 1200px) {
//     margin-right: 30px;
//   }
// }

.features-cards__iconbg {
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 100%;
    height: 100%;
    padding: 25px 0;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.features-cards__iconsvg {
  height: 70px;
  width: 100%;
}
.features-cards__content {
  display: block;
}
.features-cards__contenttitle {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
  @media screen and (min-width: 480px) {
    text-align: center;
  }
}

.features-cards__contenttext {
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
