footer {
  padding: 60px 0px;
}

// .container {
//   // mobil
// justify-content: center;
// }

.footer__darkbg {
  background: var(--dark-bg);
}
.footer__flex {
  //mobil
  // justify-content: center;

  // display: flex;
  align-items: baseline;

  // margin-right: auto;
}

.logo__footer {
  // mobil
  display: flex;
  justify-content: center;
  // padding-right: auto;
  // padding-left: auto;

  margin-bottom: 20px;
  color: var(--white-color);
}
.footer-address {
  // mobil
  padding-bottom: 60px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  &__item {
    // mobil
    display: flex;
    justify-content: center;

    margin-bottom: 9px;
  }
  &__item--colorwhite {
    color: var(--white-color);
  }
  &__item--colorgrey {
    // mobil
    display: flex;
    justify-content: center;

    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-social {
  // margin-left: 70px;
  // mobil
  text-align: center;
  padding-bottom: 60px;

  &__title {
    // mobil
    // display: flex;
    justify-content: center;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 20px;
  }
}

.footer-mailing {
  // mobil
  margin-right: auto;
  text-align: center;

  // width: 570px;
  margin-left: auto;

  &__title {
    // mobil
    display: flex;
    justify-content: center;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 20px;
  }
  &__input {
    // mobil=tab
    width: 450px;
    margin-bottom: 20px;
    // desktop
    // width: 358px;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--dark-bg);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border: 1px solid var(--object-color);
      color: var(--white-color);
    }
  }
}
// mobil
// .footer-mailing__form {
//   display: block;
// }

// .footer-button--marginleft {
//   // mobil
//   // margin-right: auto;
//   // margin-left: auto;

//   // margin-left: 8px;
// }

.footer-button {
  &__send {
    align-items: center;
  }
  &__text {
    margin-right: 10px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--brand-color);
  }
}
.socialicons--brand-color {
  // mobil
  display: flex;
  justify-content: center;

  fill: var(--brand-color);
}
.social-icons__link--colorgrey {
  background-color: rgba(255, 255, 255, 0.1);
}
