footer {
  padding: 60px 0px;
}

// .container {
//   @media screen and (min-width: 1200px) {
//     justify-content: center;
//   }
// }

.footer__darkbg {
  background: var(--dark-bg);
}
.footer__flex {
  align-items: baseline;
  //mobil
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    // margin-right: auto;
  }
}

.logo__footer {
  // mobil
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--white-color);
  @media screen and (min-width: 1200px) {
    padding-right: auto;
    padding-left: auto;
  }
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  @media screen and (max-width: 1200px) {
    // mobil
    padding-bottom: 60px;
  }
  &__item {
    margin-bottom: 9px;
    @media screen and (max-width: 1200px) {
      // mobil
      display: flex;
      justify-content: center;
    }
  }
  &__item--colorwhite {
    color: var(--white-color);
  }
  &__item--colorgrey {
    // mobil
    display: flex;
    justify-content: center;

    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-social {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
  @media screen and (max-width: 1200px) {
    // mobil
    text-align: center;
    padding-bottom: 60px;
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 20px;
    // mobil
    @media screen and (max-width: 1200px) {
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.footer-mailing {
  margin-left: auto;
  @media screen and (max-width: 1200px) {
    // mobil
    margin-right: auto;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 20px;
    @media screen and (max-width: 1200px) {
      // mobil
      display: flex;
      justify-content: center;
    }
  }
  &__input {
    @media screen and (max-width: 480px) {
      width: 100%;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 480px) {
      width: 100%;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
      width: 450px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--dark-bg);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border: 1px solid var(--object-color);
      color: var(--white-color);
    }
  }
}

.footer-mailing__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-button {
  &__send {
    align-items: center;
  }
  &__text {
    margin-right: 10px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--brand-color);
  }
}
.socialicons--brand-color {
  // mobil
  display: flex;
  justify-content: center;

  fill: var(--brand-color);
}
.social-icons__link--colorgrey {
  background-color: rgba(255, 255, 255, 0.1);
}
