.hero {
  &__darkbg {
    background: var(--dark-bg);
    /*mobil*/
    // width: 100%;
    max-width: 1600px;
    margin: auto;
  }
  &__imgbg {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/main_bg_mobOpt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    // mobil
    margin: 0 auto;
    background-size: cover;

    max-width: 1600px;
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 118px 0px;
  }
  &__title {
    // mobil
    font-size: 26px;
    // font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: calc(42 / 26);
    color: var(--white-color);
    text-align: center;
  }
  &__button {
    margin-top: 30px;
    padding: 0;
  }
}
