.hero {
  &__darkbg {
    background: var(--dark-bg);
  }

  &__imgbg {
    @media screen and (min-width: 480px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/mob/main_bg_mob@1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/mob/main_bg_mob@2x.jpg);
      }
    }
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/tab/main_bg_tab@1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/tab/main_bg_tab@2x.jpg);
      }
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 118px 0px;
  }
  &__title {
    // mobil
    font-size: 26px;
    // font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: calc(42 / 26);
    color: var(--white-color);
    text-align: center;
  }
  &__button {
    margin-top: 30px;
    padding: 0;
  }
}
