.logo {
  display: inline-block;
}
.logo--font {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.logo--text {
  color: var(--object-color);
}
