.menu-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.menu-button--marginRight:not(:last-child) {
  margin-right: 8px;
}
.portfolio__button {
  height: 38px;
  cursor: pointer;
  background: rgba(245, 244, 250, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.06em;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  box-shadow: none;
  transition-duration: 250ms;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--object-color);
    color: var(--white-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
.button--alwaysBlue {
  color: var(--white-color);
  background: var(--object-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-cards {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  padding-top: 0 px;
  background: var(--brand-color);
  width: 368px;
}

.portfolio-cards--link {
  position: relative;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-cards__item {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: -1px;
}
.portfolio-cards__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition-duration: 250ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards__overlay {
  .portfolio-cards--link:hover &,
  .portfolio-cards--link:focus & {
    opacity: 1;
    transform: translateY(0%);
  }
}
.portfolio-cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-cards__project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.portfolio-cards__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
