.section--team {
  background: #f5f4fa;
}

.team__card-set {
  @media screen and (min-width: 480px) {
    width: 100%;
    margin-top: -20px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    width: 1200px;
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: -15px;
  }
  /*mobil*/
  // margin-left: -30px;
  // margin-top: -50px;
}
.team__item {
  @media screen and (min-width: 480px) {
    width: 100%;
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }

  /*mobil*/

  // margin-left: 30px;
  // margin-top: 50px;
  // width: 270px;

  background: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__members {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--grey-color);
}
.team__item--padding {
  padding-top: 30px;
  @media screen and (min-width: 480px) {
    padding-bottom: 24px;
  }

  /*mobil*/

  // padding-bottom: 30px;
}
.team__name {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.team__name--profession {
  margin-top: 10px;
  margin-bottom: 16px;
}
