.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: white;
  z-index: 999;

  transform: translateX(100%);
}

.menu-container.is-open {
  transform: translateX(0);
}

// js-close-menu

.js-open-menu {
  width: 24px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
  cursor: pointer;
  border-color: transparent;
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-image: url(../img/mob/btn_mob_menu.svg);
}
.js-open-menu:hover,
.js-open-menu:focus {
  background-image: url(../img/mob/btn_mob_menu_activ.svg);
}
