html {
  box-sizing: border-box;
}
body {
  background: var(--brand-color);
  color: var(--black-color);
  font-family: var(--main-font);
}

img {
  display: block;
  /*картинка на ширину блока*/
  width: 100%;
  height: auto;
  // max-width: 100%;
  height: auto;
}
nav a.menu__link--active {
  color: var(--object-color);
}
